* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the navigation bar */
header {
    background-color: #238c48;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li.active a {
    color: #ffc107;
}

nav ul li a:hover {
    color: #da6b0b; /* Change color on hover */
}
.bgimg{
    width: 50%; /* Adjusted to cover the left half of the webpage */
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
/* farm.css */

.arrow-left,
.arrow-right {
    position: absolute;
    top: 500px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: rgb(251, 247, 247);
    padding: 5px; /* Increased padding */
    font-size: 90px;
    
    cursor: pointer;
    z-index: 9999;
    padding: 5px 10px; /* Increased padding */
}

.arrow-left {
    left:10px;
}

.arrow-right {
    right: 860px;
}

body{
    background-color: #55e577;
}

.content-inner h6{
    font-size: 42px;
}
.content {
    flex: 1;
    padding: 50px;
    font-size: 35px;
    font-family:'helvetica' ;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-inner {
    max-width: 800px; /* Adjust the width as needed */
}